<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title">Welcome to mpp's Hot Beverage parlour!</h1>

    </div>
    </div>
    </section>


    <!-- 
        ADDITIONAL VALUES FOR class="hero is-VALUE1 is-VALUE2 etc"
        hero and hero-body and container: structure our overall sizing for the hero
        is-info: make it blue
        is-fullheight: make the hero the full height (100vh) of the browser
        is-bold: give it a gradient
    -->